
<h1>Dupaki !!!</h1>
 
<table>
  <tr>
    <th>Jaka Taka </th>
    <th>With who</th>
    <th></th>
  </tr>
 
  <% @dupaks.each do |dupak| %>
    <tr>
      <td><%= dupak.dupaka_name %></td>
      <td><%= dupak.with_who %></td>
      <td><%= link_to 'Show', dupak_path(dupak) %></td>
    </tr>
  <% end %>
</table>
