<h1>Miala byc Dupaka nie wyszło !</h1>


<%= form_with scope: :dupak, url: dupaks_path, local: true do |form| %>
  <p>
    <%= form.label :dupaka_name %><br>
    <%= form.text_field :dupaka_name %>
  </p>
 
  <p>
    <%= form.label :with_who %><br>
    <%= form.text_area :with_who %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
